.show-wrapper {
	width: 100%;
	display: flex;
}

.show-video-card {
	width: 70%;
	border-right: 1px solid #f4f4f4;
}

.video-block {
	width: 80%;
	margin-bottom: 10px;
}

.show-video {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.commit-block {
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
}

.inline_blk {
	display: inline-block;
}

/*commit*/
.commit-form {
	position: relative;
}

.commit-header {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.textarea-block {
	width: 100%;
	border-bottom: 1px solid #C5E2DE;
}

.commit-input {
	width: 100%;
	border: none;
	outline: none;
	height: 50px;
	padding:0;
	box-sizing: border-box;
	font-size: 14px;
	word-break: break-all;
}

.clone-textarea-commit {
	width: 100%;
	visibility: hidden;
	min-height: 20px;
	box-sizing: border-box;
	position: absolute;
	padding: 0 10px;
	font-size: 14px;
	word-break: break-all;
	border: 1px solid #cccccc;
}

.commit-button-blk {
	position: relative;
	height: 30px;
}

#commit-button {
	position: absolute;
	top: 5px;
	right: 3px;
	padding: 3px 5px;
}

.commit-block {
	margin-top: 10px;
}

.commit {
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
	display: flex;
}

.avatar-circle {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.user-avatar-block {
	width: 50px;
	position: relative;
}

.user-avatar {
	width: 45px;
	height: 45px;
}

.user-commit-message {
	width: 99%;
	padding: 0 10px;
	box-sizing: border-box;
}

.answer-link-block {
	text-align: right;
	padding: 5px 0;
}

.answer-link {
	color: #C5E2DE;
}

.answer-link:hover {
	cursor: pointer;
	color: #0b2e13;
}

.answer {
	margin-left: 20px;
}

.to-whom {
	color: #444;
	font-weight: 600;
	margin-right: 10px;
}

.hidden-element {
	display: none;
}

.show_replied {
	font-size: 14px;
	position: absolute;
	bottom: 5px;
	color: #C5E2DE;
	cursor: pointer;
}

.loading_img {
	height: 40px;
	width: 61px;
}

.uploading_rest_commits_error {
	width: 100%;
	height: 80px;
	padding: 15px 5px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	position: relative;
	margin: 15px 0;
}

.close_warning_win {
	position: absolute;
	right: 10px;
	bottom: 5px;
	border: 1px solid #f4f4f4;
	border-radius: 3px;
	padding: 0 5px;
	cursor: pointer;
}

.close_warning_win:hover {
	border: 1px solid #ccc;
}

@media screen and (max-width: 870px) {
	.show-wrapper {
		display: block;
	}
	
	.commit-block {
		width: 100%;
	}

	.show-video-card {
		width: 100%;
		border-right: none;
	}
}

@media screen and (max-width: 670px) {
	
	.show-video-card {
		width: 100%;
	}

    .video-block {
        width: 100%;
    }
}